html, body, #root {
  height: 100%;
  margin: 0;
}

.preferences-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #007a99; 
  color: white;
  font-family: Arial, sans-serif;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.main-content {
  width: 100%; 
  max-width: 600px; 
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 2px solid #003344;
  background-color: #007a99;
}

.certification-link {
  display: block;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid transparent; 
  text-align: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.certification-link:hover {
  color: black;
  border-color: red; 
}

.select-preference {
  margin: 20px 0;
}

.select-preference label {
  margin-right: 10px;
}

.select-preference select {
  padding: 5px;
  margin-right: 20px;
}

.btn-container {
  text-align: center;
  margin-top: 20px;
}

.proceed-button {
  background-color: #004d66;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.proceed-button:disabled {
  background-color: #cccccc;
}

.proceed-button:not(:disabled):hover {
  background-color: #0099cc;
}
